#advance-search, #utils-section {
    transform: translate(0px, -60px);
}

.form-group {
    height: 60px;
    max-height: 60px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    border-radius: 4px;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    color: #202020;
}

.autocomplete-selected {
    background: #c0c0c0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}